body{
	background-color: #F5F5F5; 
	padding: 0 1.5%; 
	font-family: PingFangSC-Regular;
}
.order-search .order-search-info2{
	margin-top: 23px;
}
.order-search .order-search-info1>li{
	margin-right: 30px; 
}
.order-search .order-search-info1>li:nth-child(3){
	margin-right: 43px; 
}
.order-search .order-search-info2>li{
	margin-right: 30px;
}
.order-search .order-search-info2>li:first-child{
	margin-right: 43px;
}
.order-search .order-search-info2>li .search-button{
	width: 80px;
	height: 34px;
	background-color: #2CB3ED;
	border-radius: 4px;
	text-align: center;
	line-height: 34px;
	color: #fff;
	cursor: pointer;
}
.order-search .order-search-info2>li .search-button:hover{
	background-color: #2FA8DB;
}
.order-search-result {
	overflow: hidden;
}
.order-search-result .search-result-info{
	overflow: hidden;
}
.order-search-result .search-result-info p{
    float: right;
    font-size: 13px;
	color: #AAAAAA;
	margin-top: 11px;
	margin-bottom: 13px;
}
.order-search-result .search-result-table table{
	border-spacing: 0;
	border: 1px solid #EEEEEE;
	table-layout:fixed;
}
.order-search-result .search-result-table tr{
	height: 45px;
	max-height: 45px;
	text-align: center;
	font-size: 12px;
}
.order-search-result .search-result-table tr:nth-child(odd){
	background-color: #f3f5f5;
}
.order-search-result .search-result-table tr td{
    color: #666666;
}
.order-search-result .search-result-table tr td div{
	overflow: hidden;
	text-overflow: ellipsis;
    max-height: 45px;
    display: inline-block;
    line-height: 22.5px;
    text-align: left;
}
.order-search-result .search-result-table tr td:last-child span{
	color: #2CB3ED;
	cursor: pointer;
}
.order-search-result .search-result-table tr td:last-child span:hover{
	color: #2FA8DB;
}
.order-search-result .search-result-table .result-editor{
	margin-left: 21px;
}
.order-search-result .search-result-table tr th{
	background-color: #bac3c8;
	color: #fff;
}
.order-search-result .search-result-table tr td:nth-child(odd){
	width: 7%;
}
.order-search-result .search-result-table tr td:nth-child(even){
    width: 10%;
}
.state-list ul{
	margin-left: 61px;
}
.platform-list{
	position: relative;
}
.platform-list ul{
	position: absolute; 
	border: 1px solid #DDDDDD; 
	display: none;
}
.platform-list ul li{
	text-indent: 16px; 
	background-color: #fff; 
	font-size: 13px; 
	color: #666666; 
	line-height: 34px; 
	cursor: pointer;
}
.platform-list ul{
	margin-left: 35px;
    top: 33px;
}
.platform-list ul li{
	width: 122px;
}
.platform-list ul li:hover{
	background-color: #ddd;
}
#review-order,#editor-order{
	display: none;
}
.review-order{
	min-width: 645px;
	width: 645px;
	position: absolute;
	top: 35%;
	left: 50%;
	transform:  translate(-50%,-50%);
	font-size: 13px;
	color: #666666;
	line-height: 34px;
}
.review-order .order-info{
	margin-top: 7px;
}
.review-order h3{
	margin-bottom: 0;
}
.review-order ul{
	overflow: hidden;
}
.review-order ul li{
	float: left;
	width: 50%;
	margin-bottom: 10px;
}
.review-order ul li input{
	width: 75%;
	height: 34px;
	border: 1px solid #DDDDDD; 
	margin-left: 5px;
	text-indent: 16px;
}
.review-order ul li textarea{
	width: 200%;
	height: 100px;
	border: 1px solid #DDDDDD;
	text-indent: 16px;
}
.add-button{
	width: 80px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	background-color: #2CB3ED;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 5px;
	color: #fff;
	cursor: pointer;
}
.add-button:hover{
	background-color: #2FA8DB;
}
